<form action="http://api.localhost/auth" method="post" name="loginForm">
    
    <!-- Email -->
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <span class="erreur"></span>
    <br>

    <!-- password -->
    <label for="password">Mot de Passe</label>
    <input type="password" name="password" id="password" required>
    <span class="erreur"></span>
    <br>
    <input type="submit" value="Connexion" name="login">
    <span class="erreur"></span>
    
</form>